Repository mishablank/approval-guard: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

.lintstagedrc.json:

{
  "*.ts": [
    "eslint --fix",
    "jest --bail --findRelatedTests --passWithNoTests"
  ],
  "*.json": [
    "prettier --write"
  ],
  "*.md": [
    "prettier --write"
  ]
}

feat: add batch processing utility for large approval sets
  src/utils/batch-processor.ts
  src/utils/index.ts
  tests/batch-processor.test.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: update project
  README.md
Due: prettier --write

refactor: improve scanner module with better error handling and caching
  src/scanner.ts
  src/types.ts
  tests/scanner.test.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feat: add report generation with multiple output formats
  src/services/report-generator.ts
  src/types.ts
  tests/report-generator.test.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feature: Add caching layer for approval data
  src/cache/approval-cache.ts
  src/cache/index.ts
  src/cache/types.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feature: Add token metadata service for enhanced approval context
  src/services/index.ts
  src/services/token-metadata-service.ts
  tests/token-metadata-service.test.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

fix: handle edge cases in risk scoring for zero-value approvals
  src/risk-scorer.ts
  tests/risk-scorer.test.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

refactor: extract approval filtering and sorting utilities
  src/utils/approval-filters.ts
  src/utils/index.ts
  tests/approval-filters.test.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

refactor: extract approval fetching logic into dedicated fetcher module
  src/scanner.ts
  src/services/approval-fetcher.ts
  src/services/index.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

refactor: extract risk calculation logic into dedicated module
  src/risk/index.ts
  src/risk/risk-calculator.ts
  src/risk/risk-factors.ts
  src/risk/risk-types.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

feat: add approval history tracking and timeline analysis
  src/history/history-tracker.ts
  src/history/history-types.ts
  src/history/index.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

refactor: consolidate service exports and improve dependency injection
  src/services/approval-service.ts
  src/services/index.ts
  src/services/risk-analysis-service.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

refactor: consolidate scanner with modular architecture
  src/scanner.ts
  src/types.ts
  tests/scanner.test.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

polish: improve error messages and add input validation helpers
  src/utils/index.ts
  src/utils/validation.ts
  tests/validation.test.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

docs: add comprehensive API documentation and usage examples
  docs/API.md
  docs/CLI.md
  docs/examples/basic-scan.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests, prettier --write

docs: add architecture documentation and risk scoring guide
  docs/ARCHITECTURE.md
  docs/CONTRIBUTING.md
  docs/RISK-SCORING.md
Due: prettier --write

docs: add troubleshooting guide and FAQ documentation
  docs/FAQ.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
Due: prettier --write

polish: add spinner and progress indicators for CLI feedback
  src/cli.ts
  src/utils/index.ts
  src/utils/spinner.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

docs: add CHANGELOG and update README with badges
  CHANGELOG.md
  LICENSE
  README.md
Due: prettier --write

polish: improve CLI output formatting and user experience
  src/cli.ts
  src/utils/index.ts
  src/utils/logger.ts
Due: eslint --fix, jest --bail --findRelatedTests --passWithNoTests

polish: update project
  README.md
Due: prettier --write

refactor: update project
  README.md
Due: prettier --write

Update .env.example
  .env.example
Due: none

Update README.md
  README.md
Due: prettier --write

Add files via upload
  docs/risk-model.md
Due: prettier --write

Rename risk-model.md to RISK-MODEL.md
  docs/RISK-MODEL.md
Due: prettier --write

Add files via upload
  README-badges.md
Due: prettier --write

Delete README.md
  README.md
Due: prettier --write

Rename README-badges.md to README.md
  README.md
Due: prettier --write

Add files via upload
  docs/architecture.md
Due: prettier --write

Delete docs/ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: prettier --write

Rename architecture.md to ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: prettier --write
